<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>rates</th>
      <th>base</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AUD</th>
      <td>1.63000</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>BGN</th>
      <td>1.95580</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>BRL</th>
      <td>6.45080</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>CAD</th>
      <td>1.55280</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>CHF</th>
      <td>1.08050</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>CNY</th>
      <td>7.80710</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>CZK</th>
      <td>26.46100</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>DKK</th>
      <td>7.44680</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>GBP</th>
      <td>0.89683</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>HKD</th>
      <td>9.16080</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>HRK</th>
      <td>7.57200</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>HUF</th>
      <td>355.71000</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>IDR</th>
      <td>16741.86000</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>ILS</th>
      <td>3.97900</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>INR</th>
      <td>88.18600</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>ISK</th>
      <td>161.90000</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>JPY</th>
      <td>123.88000</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>KRW</th>
      <td>1311.84000</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>MXN</th>
      <td>24.22390</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>MYR</th>
      <td>4.87070</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>NOK</th>
      <td>10.81230</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>NZD</th>
      <td>1.73040</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>PHP</th>
      <td>56.95400</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>PLN</th>
      <td>4.48880</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>RON</th>
      <td>4.86980</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>RUB</th>
      <td>91.61130</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>SEK</th>
      <td>10.25370</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>SGD</th>
      <td>1.59340</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>THB</th>
      <td>35.64600</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>TRY</th>
      <td>9.13030</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>USD</th>
      <td>1.18150</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
    <tr>
      <th>ZAR</th>
      <td>18.40680</td>
      <td>EUR</td>
      <td>2020-11-13</td>
    </tr>
  </tbody>
</table>